*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #e8e8e8;
}

.contenedor{
  width: 320px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1{
  color: #f76a8c;
  text-align: center;
}

a{
  color:#f76a8c;
}

img{
  width: 100px !important;
}

.my{
  width: 40vw;
}

.top{
  font-size: 2rem;
}

.top-p{
  color: #393e46;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn{
  background: #f76a8c;
}

.btn:hover{
  background: #eb6383;
}

.def{
  color: #393e46;
  font-size: 1.5rem;
  font-weight: bold;
}

input{
  border-radius: 5px;
  text-align: center;
  margin-left: 4%;
  border: solid #f76a8c;
  color: #f76a8c;
  font-weight: bold;
  font-size: 1.5rem;
  height: 70px;
}

#nam1{
  font-size: 1.5rem;
  color: #f76a8c;
  margin-left: 5%;
}

#display_flame{
  margin-top: 2%;
  margin-left: 8%;
  font-family: 'Permanent Marker', cursive;
  font-size: 4rem;
}